:root {
  font-family: Poppins, Helvetica, Arial, sans-serif;
}

html, body {
  width: 100%;
  height: 100%;
  margin: 0;
}

body {
  background: #2D2D2D;
}

main {
  color: white;
}

body > * {
  padding: 20px;
}

form, button, input {
  font-family: Poppins;
}

h1, h2, p {
  margin: 0;
}

h1 {
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
}

p {
  font-family: Poppins, Helvetica, Arial, sans-serif;
}

header {
  display: flex;
  flex-direction: row;
  background: #242424;
  color: white;
}
header * {
  color: inherit;
}
header >  * {
  margin-right: 0.5em;
}

nav {
  display: flex;
  align-items: center;
}
nav a {
  text-decoration: none;
  padding: 0 1em;
  line-height: 0;
  cursor: pointer; 
}
nav a img {
  transition: padding-bottom 0.15s;
}
nav a img:hover {
  padding-bottom: 10px;
}